# Copy this file to .env and configure local environment variables.
MONGO_PORT=27017
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=password
MONGO_DATABASE=autojob

QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MOCK_JOB_SITE_PORT=18080